{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>R e p o r t</h1>

    <a href="{{ path('report') }}#kmom01">Kmom01</a>

    <div id="kmom01">
        <p>Här är min redovisningstext för kmom01</p>
    </div>

    <a href="{{ path('report') }}#kmom02">Kmom02</a>

    <div id="kmom02">
        <p>Här är min redovisningstext för kmom02</p>
    </div>

    <a href="{{ path('report') }}#kmom03">Kmom03</a>

    <div id="kmom03">
        <p>Här är min redovisningstext för kmom03</p>
    </div>

    <a href="{{ path('report') }}#kmom04">Kmom04</a>

    <div id="kmom04">
        <p>Här är min redovisningstext för kmom04</p>
    </div>

    <a href="{{ path('report') }}#kmom05">Kmom05</a>

    <div id="kmom05">
        <p>Här är min redovisningstext för kmom05</p>
    </div>

    <a href="{{ path('report') }}#kmom06">Kmom06</a>

    <div id="kmom06">
        <p>Här är min redovisningstext för kmom06</p>
    </div>
{% endblock %}